.infProf {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 194px;
  gap: 24px;
  position: relative;
  background: #0a162a;
  height: 100%;
}

.influencerProfileName-main {
  overflow: hidden;
}
